@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  list-style: none;
  text-decoration: none;
  outline: none;
  transition: all 0.5s ease-in-out;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);

  --Font-Family: "Big Shoulders Display", cursive;
  --Secondary-Font-Family: "Lexend Deca", sans-serif;
}

body {
  min-height: 100vh;
  font-size: 15px;
  font-family: var(--Font-Family);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
main {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  max-width: 950px;
}

.img-container img {
  width: 70px;
  height: 40px;
}

.column {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 350px;
  height: 500px;
}

.column .detail-container h1 {
  font-weight: 700;
  font-size: 44px;
  padding: 30px 0 20px 0;
  color: var(--Very-light-gray);
}

.column .detail-container p {
  font-family: var(--Secondary-Font-Family);
  color: var(--Transparent-white);
  line-height: 1.7rem;
}

.column .bottom-container button {
  font-family: var(--Secondary-Font-Family);
  background-color: var(--Very-light-gray);
  border: none;
  border-radius: 25px;
  height: 50px;
  width: 145px;
  cursor: pointer;
}

.column .bottom-container button:hover {
  color: var(--Very-light-gray);
  background-color: inherit;
  border: 3px solid var(--Very-light-gray);
  transform: scale(1);
}

.first-column {
  background-color: var(--Bright-orange);
  border-radius: 12px 0 0 12px;
}

.second-column {
  background-color: var(--Dark-cyan);
}

.third-column {
  background-color: var(--Very-dark-cyan);
  border-radius: 0 12px 12px 0;
}

.first-column .bottom-container button {
  color: var(--Bright-orange);
}

.second-column .bottom-container button {
  color: var(--Dark-cyan);
}

.third-column .bottom-container button {
  color: var(--Very-dark-cyan);
}

@media (max-width: 760px) {
  main {
    grid-template-columns: repeat(1, 3fr);
  }
  .column {
    max-width: 100%;
    height: auto;
  }
  .first-column {
    border-radius: 12px 12px 0 0;
  }
  .third-column {
    border-radius: 0 0 12px 12px;
  }
  .column .detail-container p {
    padding-bottom: 50px;
  }
}
