@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
:root {
  --Cyan: hsl(179, 62%, 43%);
  --Bright-Yellow: hsl(71, 73%, 54%);
  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
  --White: #ffffff;

  --font-family: "Karla", sans-serif;
}

* {
  font-family: var(--font-family);
}

body {
  font-size: 16px;
  font-weight: 400;
  background-color: var(--Light-Gray);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 55px 25px;
}

.top-container {
  background-color: var(--White);
  padding: 1.5rem;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.top-container h1 {
  font-weight: 700;
  color: var(--Cyan);
  font-size: 22px;
}
.top-container h2 {
  font-size: 16px;
  font-weight: 700;
  color: var(--Bright-Yellow);
}
.top-container p {
  font-weight: 400;
  line-height: 1.3rem;
  color: var(--Grayish-Blue);
  font-size: 14px;
}
.bottom-container {
  display: grid;
  grid-template-columns: 1fr;
}
.subscription-container {
  background-color: var(--Cyan);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--White);
}
.subscription-container h1 {
  font-weight: 700;
  font-size: 18px;
}
.subscription-container ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
.subscription-container ul li:first-child {
  font-size: 34px;
  font-weight: 700;
}
.subscription-container ul li:last-child {
  opacity: 0.7;
}
.subscription-container button {
  border: none;
  border-radius: 5px;
  color: var(--White);
  background-color: var(--Bright-Yellow);
  padding: 15px 0;
}
.why-us-container {
  background-color: #4abebd;
  padding: 1.5rem;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--White);
}
.why-us-container h1 {
  font-weight: bold;
  font-size: 18px;
}
.why-us-container p {
  opacity: 0.7;
  max-width: 230px;
  line-height: 1.5rem;
}

@media (min-width: 640px) {
  body {
    margin: 0px 20px;
  }
  main {
    max-width: 650px;
  }
  .top-container,.why-us-container,.subscription-container{
    padding: 2rem;
  }
  .top-container h1{
    font-size: 28px;
  }
  .top-container h2{
    font-size: 21px;
  }
  .top-container p{
    font-size: 17px;
  }
  .subscription-container {
    border-radius: 0 0 0 5px;
  }
  .why-us-container {
    border-radius: 0 0 5px 0;
  }
  .bottom-container {
    grid-template-columns: 1fr 1fr;
  }
}
