*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-right {
  display: flex;
  gap: 2rem;
}
.container {
  width: 100%;
  background: url("./images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 40rem;
  margin-top: -5rem;
}
.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.left,
.col {
  width: 100%;
  min-height: 30rem;
}
.left2,
.col2 {
  width: 100%;
  min-height: 30rem;
}
.left2 {
  background-color: cyan;
}
.left {
  background: url("./images/desktop/image-transform.jpg");
  background-position: center center;
  background-size: cover;
}
.col2 {
  background: url("./images/desktop/image-stand-out.jpg");

  background-position: center center;
  background-size: cover;
}
.col {
  background-color: orange;
}
